{% extends "layout.html.twig" %}

{% block content %}
    <h2 class="ui header">
        <i class="calendar icon"></i>
        <div class="content">
            {% trans %}Schedule{% endtrans %}
        </div>
    </h2>
    <div class="ui fitted divider"></div>

    <div class="ui page grid overview relaxed segment">
        <div class="ui two wide column"></div>
        <div class="twelve wide column">
            <div class="ui center aligned stackable divided grid">
                <div class="column">
                    <div class="ui icon header">
                        <i class="circular calendar icon"></i>
                    </div>
                    <p><a class="ui teal right labeled icon button" href="{{ path('schedule') }}">{% trans %}SCHEDULE{% endtrans %} <i class="right long arrow icon"></i></a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
