.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

td.schedule {
    text-align: center;
}

.schedule-teacher {
    margin-bottom: 1em;
}

.schedule-info .float-fill {
    display: inline-block;
    width: 3.5rem;
}

.schedule-hour {
    width: 5%;
    text-align: right;
}

.ui.table .schedule-day {
    text-align: center;
    width: 19%;
}

.schedule-row {
    height: 92px;
}

.navbar {
    border-radius: 0 !important;
}

.ui.inverted.tiered.menu .sub.menu .header.item {
    color: rgba(255, 255, 255, 0.85) !important;
}

@media (max-width: 768px) {
    .desktop-item {
        display: none !important;
    }
}

@media (min-width: 769px) {
    .mobile-item {
        display: none !important;
    }
}

.schedule-edit input {
    height: 28px !important;
}

.schedule-edit .seven.field {
    text-align: right;
}

.schedule-edit .three.field {
    text-align: center;
}

.schedule-edit input:focus {
    border-radius: 0.3125em !important;
    box-shadow: 0 0 10px 5px #DADADF, 0px 0px 5px -1px #B5B5E9 inset !important;
    background-color: #FAFAFA !important;
}

.schedule-edit .select2-container {
    width: 100%;
}

.schedule-edit .select2-container-active {
    box-shadow: 0 0 10px 1px #D5FFFF;
    border-radius: 5px;
}

button.schedule-edit-action {
    padding-top: 9px !important;
}

.schedule-edit-action {
    height: 34px;
}

.election-position {
    text-align: right;
}
